@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>延平中學聯絡簿發佈器</h1>
    <p>使用資訊股長的帳號密碼登入</p>
    <p>按Post以發佈聯絡簿至學校的網路班級聯絡簿</p>
    <br>
    <p><a href="http://www.yphs.tp.edu.tw/tc_index.asp" target="_blank">學校網頁</a></p>
    <p><a href="https://www.yphs.tp.edu.tw/tea/tu2.aspx" target="_blank">班級聯絡簿</a></p>
</div>
